[submodule "thirdparty/evaluate_3d_reconstruction_lib"]
	path = thirdparty/evaluate_3d_reconstruction_lib
	url = https://github.com/eriksandstroem/evaluate_3d_reconstruction_lib.git
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "thirdparty/fit3d"]
	path = thirdparty/fit3d
	url = git@github.com:ywyue/FiT3D.git
